//Sass
$my_font: "Nunito", sans-serif;
$first_color: #1eafed;
$second_color: #7ed8ff;
$third_color: white;
$fourth_color: #d1d1d1;
$fifth_color: #b1b1b1ef;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: $my_font;
}

body {
    background-color: $third_color;
    position: relative;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}
button {
    cursor: pointer;
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.loading {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 6em;
    }
}

//header ******************************************
.header {
    display: flex;
    justify-content: space-between;
    background-color: $third_color;
    align-items: center;
    padding: 0.5em 4em;
    margin: 0;
    position: sticky;
    top: 0;
    // box-shadow: 0 0.25px 0 0 $fifth_color;
    z-index: 10;
    nav {
        a {
            color: $first_color;
            font-size: 1.1em;
            font-weight: bold;
            padding: 0;
            margin: 0;
            margin-left: 1em;
        }

        a:hover {
            text-decoration: underline;
        }
    }

    &__trashare {
        display: flex;
        align-items: center;
        padding: 0;
        margin: 0;

        img {
            width: 1.9em;
            padding: 0;
            margin: 0;
        }

        h2 {
            font-size: 2.1em;
            padding-left: 0.1em;
            margin-bottom: 0.1em;
        }
    }

    &__menu {
        display: flex;
        align-items: center;
        z-index: 11;

        .icon {
            margin: 0 0.3em;
            font-size: 1.2em;
            color: $fourth_color;
            cursor: pointer;
        }

        .user {
            margin: 0 5px 0 15px;
            font-size: 3em;
            margin: 0;
            padding-left: 10px;
            color: $fourth_color;
        }

        .user-name {
            font-weight: bold;
            font-size: 1.2em;
            margin-left: 4em;
        }

        .text {
            padding-right: 2em;
        }
    }

    &__hamburger {
        background-color: $third_color;
        display: flex;
        flex-direction: column;
        margin: 12em 4em 0 0;
        padding: 0.5em;
        border-radius: 1em 0;
        width: 10vw;
        position: absolute;
        // border: $first_color solid;
        box-shadow: 0.1px 0.1px 1px 1px $fourth_color;
        right: 0;
        z-index: 12;

        div {
            display: flex;
            align-items: center;
            padding: 0.1em;
        }

        a:hover {
            color: $first_color;
        }

        .icon {
            padding: 0.1em;
        }
    }
}

//main ******************************************
main {
    display: flex;
    flex-direction: column;
    /* &::after {
        content: "";
        display: block;
        height: 100px;
    } */
}
//home ******
.home {
    &__page {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: url("images/main-page.png");
        background-color: $second_color;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 30em;
        color: $third_color;

        h1 {
            font-size: 4em;
            padding: 0.2em 0 0.5em;
            margin: 0;
            margin-bottom: 2.5em;
        }

        &--buttons {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 40em;
            padding: 2em;

            button {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0.7em;
                width: 6em;
                height: 2em;
                background-color: $first_color;
                border-radius: 8em;
                font-size: 1.8em;
                color: $third_color;
            }

            button:hover {
                background-color: #1c91d4;
            }
        }
    }

    &__intro {
        display: flex;
        margin: 0;
        padding: 0.5em 4em;

        &--card {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            align-items: center;
            text-align: center;
            padding: 0;
            margin: 2.5em 2.8em;
            width: 20em;

            .icon {
                font-size: 4em;
                color: $fourth_color;
                margin: 0;
            }

            h3 {
                padding: 15px;
                margin: 0.5em;
            }

            p {
                color: $fifth_color;
                padding: 0;
                margin: 0;
            }
        }
    }

    &__contact {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5em;
        background-color: $second_color;
    }

    &__about {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5em;
    }
}

//search ******
.search {
    padding: 0;
    border-top: 0.1rem solid $first_color;
    margin: 0 4em;

    //search bar
    &__bar {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: $first_color;
        padding: 1em;
        margin: 2em 4em;
        border-radius: 3em;

        .icon {
            font-size: 1.5em;
            padding-right: 0.5em;
        }

        div {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        button {
            background-color: $second_color;
            color: $third_color;
            border-radius: 1.5em;
            padding: 0.7em 1em;
            border-style: solid;
            font-weight: bold;
            font-size: 1em;
        }

        button:hover {
            color: $first_color;
        }

        input {
            text-align: center;
            border-radius: 0.5em;
            padding: 0.7em 1em;
            margin: 0.5em;
        }
    }
}

//footer ******************************************
.footer {
    // background-color: $first_color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    border-top: 0.1rem solid $first_color;
    margin: 3em 4em 0;
    /* position: absolute;
    bottom: 0;
    width: 100%; */

    box-sizing: border-box;

    &__icons {
        display: flex;
        justify-content: center;

        &--icon {
            font-size: 2em;
            padding: 0;
            margin: 0.7em 0 0.7em 1em;
        }

        &--fb:hover {
            color: #3b5998;
        }

        &--ig:hover {
            color: #fb3958;
        }

        &--tw:hover {
            color: #00acee;
        }
    }

    &__copyright {
        display: flex;
        justify-content: center;

        p {
            padding: 0;
            margin: 0.7em 0;
        }
    }
}

.shadow {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    opacity: 0;
}

//
//
//
//
//tynda css

// input {
//     border-style: solid;
//     border-color: black;
// }

// ul {
//     padding: 0;
//     list-style: none;
// }

// .list_from_input {
//     display: flex;
// }

// list of countries and cities from searchbar and offer

// .articles-container {
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     width: 90em;
//     padding: 15px;
//     border-style: solid;
//     border-color: black;
// }

// .article {
//     display: flex;
//     flex-direction: column;
//     width: 20em;
//     background-color: #58bce7;
//     opacity: 0.8;
//     padding: 20px;
//     border-radius: 10px;

//     img {
//         width: 4em;
//     }
// }

// .offer-list {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .profile-container {
//     display: flex;
//     flex-direction: row-reverse;
//     align-items: center;
//     justify-content: center;

//     img {
//         width: 10em;
//         height: 10em;
//     }
// }

// .offer-container {
//     background-color: rgb(135, 175, 153);
//     margin: 2em;
//     width: 50em;
// }

// .offer-name-image {
//     display: flex;
//     justify-content: space-around;
//     width: 18em;

//     img {
//         width: 7em;
//         height: 7em;
//         padding: 20px;
//     }
// }

// .offer-details {
//     display: flex;
//     flex-direction: column;
// }

// .offer-part1 {
//     display: flex;
//     justify-content: space-around;
// }

// .offer-text {
//     background-color: rgb(194, 214, 199);

//     width: 40em;
//     margin-left: 5em;
// }

// .offer-button-price {
//     display: flex;
//     flex-direction: column;

//     button {
//         background-color: rgb(94, 117, 248);
//         color: white;
//     }
// }

// // form images toggle onclick
