//Sass
$my_font: "Nunito", sans-serif;
$first_color: #1eafed;
$second_color: #7ed8ff;
$third_color: white;
$fourth_color: #d1d1d1;
$fifth_color: #b1b1b1ef;

.chat {
    padding: 0;
    border-top: 0.1rem solid $first_color;
    margin: 0 4em 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__header {
        display: flex;
        justify-content: center;
        border-radius: 0.5em 0.5em 0 0;
        box-shadow: 2px 2px 2px 2px $fifth_color;
        background-color: $first_color;
        margin-top: 4em;
        width: 50em;
        padding: 1em;

        img {
            width: 1.9em;
            padding: 0;
            margin: 0;
        }

        h2 {
            font-size: 2.1em;
            padding-left: 0.1em;
            margin-bottom: 0.1em;
        }
    }

    &__conversation {
        background-color: $third_color;
        width: 50em;
        padding: 2em;
        box-shadow: 2px 2px 2px 2px $fifth_color;

        &--message {
            display: flex;
            flex-direction: column;
            margin: 0.5em;
            padding: 0.5em;
            width: 25em;

            .user {
                display: flex;
                align-items: center;
                border-radius: 1em 1em 0 0;
                background-color: $second_color;
                box-shadow: 2px 2px 2px 2px $fifth_color;

                .icon {
                    color: $third_color;
                    font-size: 1.8em;
                    margin: 0.3em 0 0.3em 0.5em;
                }

                p {
                    font-weight: bold;
                    font-size: 1.3em;
                    margin-left: 0.2em;
                }
            }

            .text {
                border-radius: 0 0 1em 1em;
                background-color: $third_color;
                padding: 0.5em 1em;
                box-shadow: 2px 2px 2px 2px $fifth_color;
            }

            .date {
                font-size: 0.8em;
                color: $fifth_color;
                display: flex;
                align-self: flex-end;
                margin: 0.3em 0.5em;
            }
        }

        &--message:nth-child(even) {
            margin-left: 20em;

            .user {
                background-color: $fifth_color;
            }
        }
    }

    &__form {
        background-color: $first_color;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50em;
        padding: 1em;
        border-radius: 0 0 0.5em 0.5em;
        box-shadow: 2px 2px 2px 2px $fifth_color;

        input {
            padding: 0.5em;
            border-radius: 0.5em;
            font-size: 0.9em;
            width: 25em;
        }

        button {
            margin-left: 0.5em;
            background-color: $second_color;
            color: $third_color;
            border-radius: 1em;
            padding: 0.7em 1em;
            border-style: solid;
            font-weight: bold;
            font-size: 1em;
        }
        button:hover {
            color: $first_color;
        }

        .icon {
            color: $second_color;
            font-size: 1.5em;
            padding-right: 0.5em;
        }

        .icon:hover {
            font-size: 2em;
        }
    }
}
