//Sass
$my_font: "Nunito", sans-serif;
$first_color: #1eafed;
$second_color: #7ed8ff;
$third_color: white;
$fourth_color: #d1d1d1;
$fifth_color: #b1b1b1ef;

//ListOffer
.search__offers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__card {
        display: flex;
        margin: 1em;
        border-radius: 0.3em;
        box-shadow: 2px 2px 2px 2px $fourth_color;
        background-color: $fourth_color;

        &__left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 15em;
            border-right: 1.5px solid $fifth_color;

            .user {
                .icon {
                    font-size: 2.5em;
                    margin: 0.3em 0.2em;
                    padding: 0;
                    color: $third_color;
                }

                .icon:hover {
                    color: $first_color;
                }

                p {
                    font-size: 1.2em;
                    font-weight: 700;
                    padding: 0;
                }
            }

            .trashare {
                display: flex;
                justify-content: center;
                padding-bottom: 0.5em;

                img {
                    color: $first_color;
                    width: 1.9em;
                    padding: 0;
                    margin: 0;
                }

                h2 {
                    font-size: 2.1em;
                    padding-left: 0.1em;
                    color: $first_color;
                    text-shadow: 1px 1px $fifth_color;
                }
            }

            .icon {
                font-size: 1.2em;
                padding: 0 0.5em;
                color: $fifth_color;
            }
        }

        &__right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 20em;

            .row {
                align-items: center;
                justify-content: space-between;
                border-top: 1.5px solid $fifth_color;
                margin: 0;
                padding: 0;
                background-color: #ededed;

                .money {
                    display: flex;
                    align-items: center;

                    .icon {
                        font-size: 1.6em;
                        padding: 0 0.3em;

                        color: $fifth_color;
                    }
                }

                button {
                    margin-top: 0.5em;
                    background-color: $second_color;
                    color: $third_color;
                    border-radius: 1.5em;
                    padding: 0.7em 1em;
                    border-style: solid;
                    font-weight: bold;
                    font-size: 1em;
                }
                button:hover {
                    background-color: $first_color;
                }
            }
        }

        .row {
            display: flex;
            align-items: center;
            padding: 0 0.5em 0.5em;
            margin: 0;
        }

        .text {
            display: flex;
            flex-direction: column;
            width: 22.2em;
            height: 17em;
            padding: 1em;
            font-size: 0.9em;
            background-color: $third_color;
        }
    }
}
