//Sass
$my_font: "Nunito", sans-serif;
$first_color: #1eafed;
$second_color: #7ed8ff;
$third_color: white;
$fourth_color: #d1d1d1;
$fifth_color: #b1b1b1ef;

.login__page {
    padding: 0;
    border-top: 0.1rem solid $first_color;
    margin: 0 4em 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71vh;

    fieldset {
        border: 2px solid $fourth_color;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30em;

        legend {
            text-align: center;
            font-size: 2.5em;
            font-weight: bold;
            color: $first_color;
        }

        form {
            // background-color: pink;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .type {
                display: flex;
                flex-direction: column;
                margin: 0.5em;

                input {
                    border: 1.5px solid rgb(102, 99, 99);
                    border-radius: 2px;
                    width: 13em;
                    height: 3em;
                    border-radius: 0.5em;
                    padding: 0 1em;
                }
            }

            p {
                border-top: 1px solid $fifth_color;
                padding: 1em;
                margin: 1em;
            }

            a {
                font-weight: bold;
                color: $second_color;
            }

            a:hover {
                text-decoration: underline;
            }

            button {
                background-color: $first_color;
                color: $third_color;
                border-radius: 1em;
                font-weight: bold;
                font-size: 1em;
                padding: 0.5em 1em;
                margin: 0.5em;
            }

            button:hover {
                color: $second_color;
            }
        }
    }
}
