//Sass
$my_font: "Nunito", sans-serif;
$first_color: #1eafed;
$second_color: #7ed8ff;
$third_color: white;
$fourth_color: #d1d1d1;
$fifth_color: #b1b1b1ef;

.register-main {
    padding: 0;
    border-top: 0.1rem solid $first_color;
    margin: 0 4em;
    display: flex;
    justify-content: center;
    align-items: center;

    fieldset {
        border: 2px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30em;

        form {
            width: 10em;
            border-style: solid;

            input[type="name"] {
                border: 1.5px solid rgb(102, 99, 99);
                border-radius: 2px;
                width: 13em;
                height: 3em;
                border-radius: 0.5em;
                margin-right: 10px;
            }

            input[type="text"] {
                border: 1.5px solid rgb(102, 99, 99);
                border-radius: 2px;
                width: 13em;
                height: 3em;
                border-radius: 0.5em;
                margin-right: 10px;
            }

            input[type="number"] {
                border: 1.5px solid rgb(102, 99, 99);
                border-radius: 2px;
                width: 13em;
                height: 3em;
                border-radius: 0.5em;
                margin-right: 10px;
            }
        }
    }
}
